* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

@font-face {
    font-family: Robo_font;
    src: url(Robot_Font.otf);
  }

  @font-face {
    font-family: Halimun;
    src: url(Halimun.ttf);
  }

#hero {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#navbar {
    display: flex;
    height: 3em;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: flex-start;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 47%, rgba(20,46,60,1) 100%); 
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    filter: invert(1);
    height: 2em;
    margin: 1em;
}

#logotext {
    font-family: Robo_font;
    font-size: 25px;
    color: white;
    align-self: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: 1em;
}

.menu > a {
    margin: 1em;
    text-decoration: none;
    font-family: Robo_font;
    font-size: 25px;
    color: white;
}

#div_intro {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 47%, rgba(20,46,60,1) 100%); 
}

#introtext {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: 3em;
    color: white;
    border: 0px solid black;
}

.intro_text_head {
    display: flex;
    flex: 1;
    font-family: Robo_font;
    font-size: 6em;
}

.intro_text_body_upper {
    display: flex;
    flex: 3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}

.intro_text_body_lower {
    display: flex;
    flex: 2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
}

#cardmaker {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    margin: 3em;
    color: white;
    border: 0px solid white;
}

#cardmaker_image {
    display: flex;
    margin-bottom: 5em;
    border: 0px solid white;
}

#userinput {
    display: flex;
    margin: 2em;
    font-size: 15px;
}

#button_userinput {
    width: 12em;
    height: 3em;
    line-height: 12px;
    border: 2px solid black;
    border-radius: 5px;
}

#div_businesscard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 47%, rgba(20,46,60,1) 100%);
    border: 0px solid white;
}

#generated_card {
    display: flex;
    width: 50vw;
    height: 60vh;
    margin-bottom: 2em;
    background: rgb(107, 107, 107);
    border: 3px solid white;
    border-radius: 3%;
}

#generated_card_left {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
}

#card_image {
    display: flex;
    max-width: 100%;
    height: auto;
}

#username {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 120%;
}

#jobtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
}

#generated_card_right {
    display: flex;
    flex-direction: column;
    flex: 5;
    border: 1px solid white;
}

#basic_info {
    display: flex;
    flex: 6;
    margin: 2em;
}

#links {
    display: flex;
    flex: 1;
    margin: 2em;
}

#div_extrainfo {
    display: flex;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 47%, rgba(20,46,60,1) 100%); 
}

