* {
    margin: 0;
    padding: 0;
}

* > a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
  }

@font-face {
    font-family: Robo_font;
    src: url(Robot_Font.otf);
  }

#hero {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#navbar {
    display: flex;
    height: 2em;
    background: white;
    position: sticky;
    top: 0;
    justify-content: space-between;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Robo_font;
}

.logo {
    height: 2em;
    margin: 1em;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin-right: 5em;
}

.menu > a {
    margin: 0.5em;
    font-family: Robo_font;
}

#div_intro {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 47%, rgba(20,46,60,1) 100%); 
}

#introtext {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 3em;
    color: white;
    border: 1px solid black;
}

.intro_text_head {
    display: flex;
    flex: 1;
    font-family: Robo_font;
    font-size: 6em;
}

.intro_text_body_upper {
    display: flex;
    flex: 3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}

.intro_text_body_lower {
    display: flex;
    flex: 2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
}

#cardmaker {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 2em;
    color: white;
    border: 0px solid white;
}

#userinput {
    display: flex;
    margin: 2em;
}

.button {
    display: block;
    width: 8em;
    height: 0.5em;
    background: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    line-height: 12px;
    text-align: center;
}

#div_businesscard {
    display: flex;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 47%, rgba(20,46,60,1) 100%); 
}

#div_extrainfo {
    display: flex;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 47%, rgba(20,46,60,1) 100%); 
}

